@font-face {
  font-family: 'TheBoldFont';
  src: url('../assets/fonts/subset-TheBoldFont.eot'),
      url('../assets/fonts/subset-TheBoldFont.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/subset-TheBoldFont.woff2') format('woff2'),
      url('../assets/fonts/subset-TheBoldFont.woff') format('woff'),
      url('../assets/fonts/subset-TheBoldFont.ttf') format('truetype'),
      url('../assets/fonts/subset-TheBoldFont.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'CenturyGothic-Bold';
  src: url('../assets/fonts/subset-CenturyGothic-Bold.eot'),
      url('../assets/fonts/subset-CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/subset-CenturyGothic-Bold.woff2') format('woff2'),
      url('../assets/fonts/subset-CenturyGothic-Bold.woff') format('woff'),
      url('../assets/fonts/subset-CenturyGothic-Bold.ttf') format('truetype'),
      url('../assets/fonts/subset-CenturyGothic-Bold.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'SegoeUI';
  src: url('../assets/fonts/subset-SegoeUI.eot'),
      url('../assets/fonts/subset-SegoeUI.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/subset-SegoeUI.woff2') format('woff2'),
      url('../assets/fonts/subset-SegoeUI.woff') format('woff'),
      url('../assets/fonts/subset-SegoeUI.ttf') format('truetype'),
      url('../assets/fonts/subset-SegoeUI.svg#svgFontName') format('svg');
}

@font-face {
    font-family: 'Captureit';
    src: url('../assets/fonts/subset-Captureit.eot'),
        url('../assets/fonts/subset-Captureit.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/subset-Captureit.woff2') format('woff2'),
        url('../assets/fonts/subset-Captureit.woff') format('woff'),
        url('../assets/fonts/subset-Captureit.ttf') format('truetype'),
        url('../assets/fonts/subset-Captureit.svg#svgFontName') format('svg');

}
