.container-fluid {
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  padding: 3vw;
}

.row {
    margin-left: -15px;
    margin-left: -3vw;
    margin-right: -15px;
    margin-right: -3vw;
    &:after {
        content: "";
        clear: both;
        display: table;
    }
}

[class*="col-"] {
    padding: 15px;
    padding: 3vw;
    float: left;
    width: 100%;
}

@media (min-width: 500px) {
    .container {
        padding: 15px;
    }
    .row {
        margin-left: -15px;
        margin-right: -15px;
    }
    [class*="col-"] {
        padding: 15px;
    }
}

@media (min-width: 787px) {
    .container {
        width: 750px;
    }
    .col-sm-1 {
        width: ((100% / 12) * 1);
    }

    .col-sm-2 {
        width: ((100% / 12) * 2);
    }

    .col-sm-3 {
        width: ((100% / 12) * 3);
    }

    .col-sm-4 {
        width: ((100% / 12) * 4);
    }

    .col-sm-5 {
        width: ((100% / 12) * 5);
    }

    .col-sm-6 {
        width: ((100% / 12) * 6);
    }

    .col-sm-7 {
        width: ((100% / 12) * 7);
    }

    .col-sm-8 {
        width: ((100% / 12) * 8);
    }

    .col-sm-9 {
        width: ((100% / 12) * 9);
    }

    .col-sm-10 {
        width: ((100% / 12) * 10);
    }

    .col-sm-11 {
        width: ((100% / 12) * 11);
    }

    .col-sm-12 {
        width: ((100% / 12) * 12);
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
